.login-form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1.5fr 1.5fr 1fr;
  align-items: center;
  justify-content: flex-start;
}

.login-wrapper input,
label {
  margin-top: 10px;
}
.login-wrapper input[type="submit"] {
  margin-left: 30%;
}
